// 色の設定

// 全般
$white: #fff;
$gray: #808080;
$darkcyan: #008b8b;
$rose: #e95464;

// テキスト
$textGray: #343434;

// ボーダー
$borderGrayLight: #b4b4b4;
$borderGrayDark: #6f6f6f;

// 背景
$bgAliceBlue: #f0f8ff;